body{
    margin:0;
    padding:0;
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;
}

.container{
    max-width:500px;
    margin:40px auto;
    padding:20px;
}

h1{
    text-align:center;
    color:#38bdf8;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
}

select,button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:10px;
    border:none;
    font-size:16px;
}

select{
    background:#334155;
    color:white;
}

button{
    background:#0ea5e9;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#0284c7;
}

#result{
    margin-top:20px;
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    white-space:pre-wrap;
}
