.signal-card{
    background:#101828;
    border:1px solid #23314d;
    border-radius:20px;
    padding:25px;
    margin-top:20px;
    text-align:center;
    box-shadow:0 0 35px rgba(0,170,255,.25);
}

.signal-title{
    color:#8fa6c9;
    font-size:15px;
    letter-spacing:2px;
    margin-bottom:10px;
}

.pair{
    color:#ffffff;
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}

.signal{
    font-size:42px;
    font-weight:bold;
    border-radius:15px;
    padding:18px;
    transition:.3s;
}

.buy{
    background:#00c853;
    color:#fff;
    box-shadow:0 0 30px #00ff66;
}

.sell{
    background:#e53935;
    color:#fff;
    box-shadow:0 0 30px #ff3b3b;
}

.wait{
    background:#ffb300;
    color:#fff;
    box-shadow:0 0 30px #ffd54f;
}

.confidence{
    margin-top:20px;
    font-size:38px;
    font-weight:bold;
    color:#4fc3f7;
}

.countdown{
    margin-top:18px;
    font-size:20px;
    color:#ffffff;
}

#timer{
    color:#00e5ff;
    font-weight:bold;
}

button{
    width:100%;
    padding:18px;
    margin-top:20px;
    border:none;
    border-radius:15px;
    background:#0091ff;
    color:white;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.03);
    box-shadow:0 0 25px #00b0ff;
}

.box{
    background:#15233d;
    border-radius:15px;
    padding:18px;
    text-align:center;
    color:white;
    box-shadow:0 0 15px rgba(0,170,255,.15);
}

.box span{
    display:block;
    margin-top:10px;
    font-size:22px;
    color:#00e5ff;
    font-weight:bold;
}
